.hero {

    min-height:500px;

    width:75%;

    max-width:1000px;

    margin:40px auto;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:50px;

    border-radius:25px;

    background:
    linear-gradient(
        120deg,
        orangered,
        #13052c
    );

    color:white;

    overflow:hidden;

}

.offer-tag{

    background:white;

    color:#2563eb;

    padding:8px 18px;

    border-radius:20px;

    display:inline-block;

    margin-bottom:20px;

    font-weight:bold;

}

.hero h1{

    font-size:52px;

    line-height:1.2;

    margin-bottom:20px;

}

.hero p{

    max-width:600px;

    line-height:1.8;

    font-size:18px;

    margin-bottom:35px;

}

.shop-btn{

    background:white;

    color:#2563eb;

    padding:14px 35px;

    text-decoration:none;

    border-radius:8px;

    font-weight:bold;

    transition:.3s;

}

.shop-btn:hover{

    background:#f3f4f6;

}