.navbar {

    position: sticky;

    top:0;

    z-index:1000;

    width:90%;

    margin:15px auto;

    padding:15px 25px;

    display:flex;

    align-items:center;

    justify-content:space-between;
   background:rgb(147, 68, 40);
    backdrop-filter:blur(15px);

    border-radius:18px;

    box-shadow:
    0 8px 25px rgba(0,0,0,0.08);

}


/* Logo */

.logo h2{

    margin:0;

    color:#ffffff;

    font-size:30px;

}



/* Navigation */

.nav-links{

    display:flex;

    list-style:none;

    gap:25px;

    margin:0;
    padding:0;

}


.nav-links a{

    text-decoration:none;

    color: white;

    font-weight:500;

    transition:.3s;

    position:relative;

}


.nav-links a:hover{

    color:#2563eb;

}


/* Active page */

.nav-links .active{

    color:#2563eb;

}



.nav-links .active::after{

    content:"";

    position:absolute;

    bottom:-8px;

    left:0;

    width:100%;

    height:3px;

    background:#2563eb;

    border-radius:10px;

}



/* Right side */

.nav-right{

    display:flex;

    align-items:center;

    gap:20px;

}



.nav-right a{

    text-decoration:none;

    color: white;

    display:flex;

    align-items:center;

    gap:6px;

}



.nav-right a:hover{

    color:#2563eb;

}



/* Search */

.search-box{

    display:flex;

    align-items:center;

    gap:8px;

    background:#f1f5f9;

    padding:8px 14px;

    border-radius:25px;

}



.search-box input{

    border:none;

    outline:none;

    background:transparent;

    width:160px;

    font-size:14px;

}



/* Cart badge */

.cart-link{

    position:relative;

}



.cart-badge{

    position:absolute;

    top:-12px;

    right:-12px;

    background:#ef4444;

    color:white;

    width:20px;

    height:20px;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:12px;

}



/* Mobile */

@media(max-width:900px){


.navbar{

    flex-direction:column;

    gap:20px;

}


.nav-links{

    flex-wrap:wrap;

    justify-content:center;

}


.nav-right{

    flex-wrap:wrap;

    justify-content:center;

}


}

.navbar{

    animation: navDrop .6s ease;

}


@keyframes navDrop{

    from{

        transform:translateY(-30px);

        opacity:0;

    }


    to{

        transform:translateY(0);

        opacity:1;

    }

}