.product-details{

    width:90%;
    max-width:1200px;

    margin:50px auto;

    display:flex;

    gap:50px;

    align-items:center;

}

.product-image{

    flex:1;

    text-align:center;

}

.product-image img{

    width:100%;

    max-width:450px;

    object-fit:contain;

}

.details-info{

    flex:1;

}

.details-info h1{

    margin-bottom:15px;

    font-size:35px;

}

.rating{

    color:#f59e0b;

    font-size:20px;

    margin-bottom:20px;

}

.price{

    color:#2563eb;

    margin:20px 0;

    font-size:32px;

}

.description{

    line-height:1.7;

    color:#555;

    margin:20px 0;

}

.in-stock{
    color:green;

    font-weight:bold;

}

.out-stock{

    color:red;

    font-weight:bold;

}

.cart-btn{

    background:#2563eb;

    color:white;

    border:none;

    font-size:16px;
    padding: 10px;
    border-radius:8px;

    cursor:pointer;

    transition:.3s;

}

.cart-btn:hover{

    background:#1d4ed8;

}

@media(max-width:768px){

.product-details{

flex-direction:column;

text-align:center;

}

.details-info{

width:100%;

}

}